section.filters {
    background-color: #FFF;
    width: 100%;
    height: 70px;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

div.btn-search-wrapper {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    width: 20%;
    height: 70px;
}

button.btn-search {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    line-height: 48px;
    vertial-align: middle;
    text-align: center;
    width: 100%;
    border: unset;
    border-radius: 4px;
    display: table-cell;
    align-self: center;
    margin-right: 30px;
}
